* { box-sizing: border-box; margin: 0; padding: 0; }
body {
  background: #74c9c3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial;
}

/* Finestreta */
.finestra {
  background: #d6d9dd;            /* gris clar finestra */
  border: 8px solid #7f8b91;      /* contorn gris més fosc */
  border-radius: 20px;
  width: 420px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;               /* per evitar desalineacions */
}

/* Capçalera amb gris*/
.capcalera {
  background: #d6d9dd;
  height: 34px;
  display: flex;
  align-items: center;
  padding-left: 12px;
}

.botonets {
  display: flex;
  gap: 8px;
}

.puntVermell, .puntGroc, .puntVerd {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,0.1);
}
.puntVermell { background: #f04c49; }
.puntGroc   { background: #f7a43b; }
.puntVerd   { background: #28b44d; }

/* Contingut : Aqui anirà la part + blanqueta*/
.contingut {
  background: #fff;
  padding: 8px;
}

.graella {
  position: relative;
  width: 100%;
  height: 300px; 
}

.graella > div {
  position: absolute;
  border-radius: 0; /*No m'interessa fer marge, que sino queda lleig x dintre*/
}

/* Per a dalt: dos vermells, un mes llarg que l'altra */
.caixa1 { left: 0;     top: 0;   width: 245px; height: 58px; background: #f04c49; }
.caixa2 { left: 254px; top: 0;   width: 130px; height: 58px; background: #f04c49; } 

/* Part central: taronja + liiilaaas */
.caixa3 { left: 0;     top: 66px;  width: 180px; height: 176px; background: #f5a327; }
.caixa4 { left: 190px; top: 66px;  width: 195px; height: 83px;  background: #8b0b92; } 
.caixa5 { left: 190px; top: 158px; width: 195px; height: 83px;  background: #8b0b92; } 

/* Inferior: 1r i 3r iguals */
.caixa6 { left: 0;     top: 250px; width: 115px; height: 50px; background: #167bbd; }
.caixa7 { left: 123px; top: 250px; width: 140px; height: 50px; background: #167bbd; } 
.caixa8 { left: 270px; top: 250px; width: 115px; height: 50px; background: #167bbd; } 